.container_gameInfo {
  margin: 1rem;
}

.container_gameInfo a {
  color:black;
}

.schedule{
  max-height: 100vh;
  overflow: auto;
}


/* Landscape properties */
@media (orientation: landscape) {

  .landscape {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

/* @include media-breakpoint-up(sm) {

} */
