[v-cloak]>* {
  display: none;
}

.landscape {
  font-family: 'Source Sans Pro', sans-serif;
}

.myContainer {
  position: sticky;
  top: 0;
  background-color: rgba(1, 116, 248, 0.6);
}

.logBut, .logo {
  max-width: 50%;
}

.logo img {
  width: 35%;
}

.container_gameInfo {
  margin-top: 1rem;
}

.form-rounded {
  border-radius: 1rem;
}

.container_gameInfo a {
  color: black;
  width: 100%;
}

.timeInfo {
  width: 36%;
}

.schedule {
  max-height: 100vh;
  overflow: auto;
}

.scheduleImg {
  width: 70%;
}

.gameImg {
  width: 13%;
}

.chat {
  height: 29rem;
  overflow: auto;
  background-color: rgba(0, 0, 0, .03);
  border-radius: 5vh;
}

.inputChat input {
  height: 2rem;
  width: 80%;
}

.inputChat button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(1, 116, 248, 0.6);
}

.chatImg img {
  width: 20%;
}

a, button {
  color: #006bb7;
}

.map {
  height: 25rem;
}

.needLogIn {
  height: 91vh;
}

.logIn img{
  width: 20%;
  border-radius: 50%;
}

.logIn p{
  color: blue;
}

/* Chat Bubbles */
/* Others Users */
.talk-bubble {
  margin: 1.5vh 3vh;
  display: inline-block;
  position: relative;
  height: auto;
  background-color: lightyellow;
}

.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}

.tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: lightyellow transparent transparent transparent;
}

.talktextRight {
  padding: 0.5rem 1.5rem;
  text-align: right;
  line-height: 1.5em;
  max-width: 45vh;
}

.talktextLeft {
  padding: 0.5rem 1.5rem;
  text-align: left;
  line-height: 1.5em;
}

.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.border {
  border: 8px solid #666;
}

.pChat {
  word-wrap: break-word;
  margin: 0;
}

.name {
  margin: 5px;
  font-size: 13px;
  color: darkgrey;
  font-weight: bolder;
}

.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}

.tri-right.right-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: lightyellow transparent transparent transparent;
}

/* Landscape properties */
@media (orientation: landscape) {
  .landscape {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .timeInfo {
    width: 51%;
  }

  .chats, .header, .needLogIn {
    grid-column: 1/3;
  }

  .chat {
    height: 12rem;
  }

  .inputChat input {
    height: 2rem;
    width: 85%;
  }

  .inputChat button {
    width: 2.2rem;
    height: 2.2rem;
  }

  p {
    margin-bottom: 0;
  }

  .map {
    height: 14rem;
  }
  .logo {
      width: 28%;
  }

  .info_back a {
    justify-content: flex-end;
  }

  .logIn img{
    width: 13%;
  }

  .logo img {
    width: 35%;
  }

  .needLogIn {
      height: 87vh;
  }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {



}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {



}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {



}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {



}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {



}
